html,body {
    background: #2D2D3A;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    top: 0px;
}

html {
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    height: 100%;
}
